In [25]:
import pandas as pd
from sklearn import neighbors
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.metrics import classification_report, confusion_matrix
import csv 
import pickle

In [7]:
df = pd.read_csv("breast-cancer-wisconsin.data")
df.head()

   1000025  5   1  1.1  1.2  2 1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7  10  3    2    1    2
1  1015425  3   1    1    1  2   2  3    1    1    2
2  1016277  6   8    8    1  3   4  3    7    1    2
3  1017023  4   1    1    3  2   1  3    1    1    2
4  1017122  8  10   10    8  7  10  9    7    1    4

In [9]:
attr = df.keys()
print(attr)

Index(['1000025', '5', '1', '1.1', '1.2', '2', '1.3', '3', '1.4', '1.5',
       '2.1'],
      dtype='object')

In [12]:
df.columns = ['Id', "Thickness","Size","Shape","Adhesion","Epithelial Size","Bare Nuclei","Bland Chromatin","Normal Nucleoli","Mitoses",
       "Class"]

In [13]:
df.head()

,Id,Thickness,Size,Shape,Adhesion,Epithelial Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1002945,5,4,4,5,7,10,3,2,1,2
1,1015425,3,1,1,1,2,2,3,1,1,2
2,1016277,6,8,8,1,3,4,3,7,1,2
3,1017023,4,1,1,3,2,1,3,1,1,2
4,1017122,8,10,10,8,7,10,9,7,1,4

In [20]:
df.drop(["Id"], axis = 1, inplace=True)
df.replace("?", -99999, inplace = True)

In [21]:
x = np.array(df.drop(["Class"], axis = 1))
y = np.array(df["Class"])

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [23]:
classifier = neighbors.KNeighborsClassifier(n_neighbors = 5)
classifier.fit(x_train, y_train)
pred = classifier.predict(x_test)
accuracy = classifier.score(x_test, y_test)
print(accuracy*100)

97.85714285714285

In [24]:
print(confusion_matrix(y_test, pred))
print(classification_report(y_test, pred))

[[83  2]
 [ 1 54]]
              precision    recall  f1-score   support

           2       0.99      0.98      0.98        85
           4       0.96      0.98      0.97        55

    accuracy                           0.98       140
   macro avg       0.98      0.98      0.98       140
weighted avg       0.98      0.98      0.98       140

In [26]:
pickle_out = open("classifier.pkl", "wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()